header
	nav
		ul
			section#nav-left
				li
					h1#logo Git Social Club
			section#nav-right
				li
					if user
						a(href="/logout") logout
					else
						a(href="/login") login
				if user.login
					li
						a(href="/profile/#{user.login}") Profile
				li
					a(href="/settings") Settings