header
	nav
		ul
			section#nav-left
				li
					h1#logo FaceNotePad
			section#nav-right
				li
					a(href="/login") Login
				li
					a(href="/profile") Profile
				li
					a(href="/settings") Settings