body {
	background-color: #EEEEEE;
	margin-left: 8px;
}

header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header nav ul section#nav-left {
	float: left;
}

header nav ul section#nav-right {
	float: right;
}

header nav ul section li {
	float: left;
}

header nav ul section li a {
	display: block;
	text-align: center;
	margin: 0 4px 4px 4px;
}